[Desktop Entry]
Name=Detektif
Comment=DetektifScan 🕵️ best tool for Information Gathering 🔎 
Encoding=UTF-8
Exec=sh -c "Th3inspector;${SHELL:-bash}"
Icon=Th3inspector.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-info-gathering;
X-Kali-Package=Th3inspector
Name[C]=Detektif
